{% extends 'layout.html' %}

{% block title %}
	<span class="judul">Detail Permintaan</span>
	<a href="{{ url_for('approve')  }}" class="btn btn-sm btn-outline-success" style="float:right;"><i class="fas fa-list"></i>&nbsp;Kembali ke approvement list</a>
{% endblock %}

{% block body %}


<div class="row">
<div class="col-sm-5">
<table class="table table-sm table-striped">
{%if data%}
	{%for row in data%}
		{%for i in range(0,7)%}
			<tr>
				<td width="150px">{{ cname[i].upper() }}</td>
				<td width="1px;">:</td>
				<td>
					{% if i==6 %}
						{% if row[i]<1 %}
							Review Divisi
						{% elif row[i]==1 %}
							Review SDM
						{% else %}
							Dikirim ke vendor (complete)
						{% endif %}
					{% else %}
						{{ row[i] }}
					{% endif %}
				</td>
			</tr>
		{%endfor%}
	{%endfor%}
{%endif%}
</table>
</div>
</div>

<div class="row">
	<div class="col-sm-8">&nbsp;</div>

<div class="col-sm-4" style="text-align: center;">
<a style="" id="prove-down" href="#" class="btn btn-sm {% if data[0][6]!=1 %}btn-outline-secondary disabled{%else%}btn-outline-danger{%endif%}"><i class="fas fa-thumbs-down"></i>&nbsp;Unapprove</a>

<a style="float:right;" id="prove-up" href="#" class="btn btn-sm {% if data[0][6]!=0 %}btn-outline-secondary disabled{%else%}btn-outline-danger{%endif%}"><i class="fas fa-thumbs-up"></i>&nbsp;Approve</a>
</div>
</div>

<div class="row">
<div class="col-sm-12">
<table class="table table-sm table-hover table-bordered">
	<thead class="thead-dark">
		<tr>
			<th>#</th>
			<th>Nama Barang</th>
			<th>Harga Satuan</th>
			<th>Qty</th>
			<th>Satuan</th>
			<th>Sub. Total</th>
			<th>Ctrl</th>
		</tr>
	</thead>
	<tbody>
		{%if datad%} {% set cnt=[1] %}
		{% for d in datad %}
			<tr>
				<td style="text-align:center;">{{cnt[0]}}</td>
				<td>{{d[2]}}</td>
				<td style="text-align:right;">{{ "{:,}".format(d[5]) }}</td>
				<td style="text-align:right;">{{ "{:,}".format(d[3]) }}</td>
				<td>{{d[4]}}</td>
				<td style="text-align:right;">{{ "{:,}".format(d[6]) }}</td>
				<td></td>
			</tr>
			{% if cnt.append(cnt.pop()+1) %}{%endif%}
		{% endfor %}
		{%endif%}
	</tbody>
</table>
</div>
</div>








<script type="text/javascript">
	$(document).ready(function(){
		$('#prove-up').click(function(e){
			console.log('approve button clicked.');
			//agar dapat dikirim ke wsgi, gunakan contentType dan dataType
			$.ajax({
				type:'POST',
				url:'{{ url_for('approveDetail',myindex=data[0][7])  }}',
				dataType:'json',
				contentType: 'application/json; charset=utf-8',
				data:JSON.stringify({'status':1,'index':'{{ data[0][7]  }}'}),
				success:function(resp){
					if(resp.success){
						console.log(resp.success);
						$(location).attr('href', '{{ url_for('approve')  }}');
					}else{
						console.log(resp.error);
					}
				},
				error:function(){
					console.log('Gagal kirim ajax data.');
				}
			});
		});
		
		$('#prove-down').click(function(e){
			console.log('approve button clicked.');
			//agar dapat dikirim ke wsgi, gunakan contentType dan dataType
			$.ajax({
				type:'POST',
				url:'{{ url_for('approveDetail',myindex=data[0][7])  }}',
				dataType:'json',
				contentType: 'application/json; charset=utf-8',
				data:JSON.stringify({'status':0,'index':'{{ data[0][7]  }}'}),
				success:function(resp){
					if(resp.success){
						console.log(resp.success);
						$(location).attr('href', '{{ url_for('approve')  }}');
					}else{
						console.log(resp.error);
					}
				},
				error:function(){
					console.log('Gagal kirim ajax data.');
				}
			});
		});
	});
</script>



{% endblock %}
