{% extends 'layout.html' %}

{% block title %}
<a href="{{ url_for('formPermintaan') }}" style="float:right;" class="btn btn-sm btn-outline-primary"><i class="fas fa-hand-point-right"></i>&nbsp;Lanjutkan Ke Form Permintaan</a>

	Buat Permintaan
{% endblock %}

{% block body %}

<!--p>
<button id="btn-klir" class="btn btn-primary btn-outline btn-sm">Clear Session</button>
</p>

<input type="text" class="form-control" id="tmp" value="" /-->



<!--div style="float:clear;" class="btn btn-sm btn-warning">Reset</div-->

<div style="float:clear;margin-bottom:5px;">
	<h5>Pilih Item</h5>
</div>
<hr style="float:clear;"/>
<div class="" id="home" style="float:clear;">
{% if data %}
{% for x in data %}
	<div id="{{x[0]}}" name="{{x[0]}}" nama="{{x[1]}}" satuan="{{x[2]}}" class="btn-barang btn btn-outline-info" style="width: 250px;margin: 3px;padding: 2px;">
		<img src="{{ url_for('static',filename='foto/'+x[4]) }}" style="width:240px;height:130px;border-radius:5px;"/>
		
		<div style="background-color:#ccc;width:245px;border-radius:5px;hyphens:auto;overflow-wrap:break-word;word-wrap:break-word;"><strong style="color:#000000;font-size:13px;">{{ x[1] }}</strong></div>
	</div>
{% endfor %}
{% endif %}
</div>

<span id="msg"></span>

<script type="text/javascript">
	$(document).ready(function(){
		$('.btn-barang').click(function(){
			var item_id=$(this).attr('id');
			document.getElementById(item_id).setAttribute('class','btn-barang btn btn-outline-danger');	
			pesan(item_id);
			console.log('button fired: '+item_id);
			/*var tmp=[];
			var isAda=0;
			if($('#tmp').val()!='') {
				var arr=new Array();
				arr=$('#tmp').val().split(',');
				tmp.push(arr);
				console.log('hasil split: '+arr);
			}
			for(var i=0;i<tmp.length;i++){
				if(tmp[i]==item_id){
					console.log(tmp[i]+' sudah ada.');
					isAda=1;
				}else{
					console.log(tmp[i]+' belum ada.');	
				}
			}
			if (isAda==0) tmp.push(item_id);
			$('#tmp').val(tmp);
			console.log(tmp);*/
			
		});

		function pesan(id){
			//document.getElementById('pesan').value=id;
			//var users={'param1':'admin','param2':'operator'};
			var pilihan={'pilih':id};
			$.ajax({
				type:'POST',
				url:'{{url_for('postSession')}}',
				data:JSON.stringify(pilihan),
				contentType: 'application/json;charset=UTF-8',
				dataType:'json',
				cache:false,
				success:function(retval){
					console.log(retval);
				},
				error:function(retval){
					console.log('Gagal.');
				}
			});
			return 0;
		}

		$('#btn-klir').click(function(){
			$.ajax({
				type:'POST',
				url:'{{url_for('klirSession')}}',
				cache:false,
				success:function(retval){
					console.log('berhasil klir session\n'+retval);
				},
				error:function(retval){
					console.log('gagal klir session.');
				}
			});
		});
	});
</script>

{% endblock %}
