{% extends 'layouts.html' %}

{% block title %}
	Data Barang
{% endblock %}

{% block body %}

<div>
	<ul class="nav nav-tabs">
	  <li class="active"><a href="#">Entri Data</a></li>
	  <li><a href="/tableDataBarang">Table View</a></li>
	</ul>
</div>

<div class="row">


<!--alert area -->
{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<div class="col-lg-12">
				<div class="alert alert-warning alert-dismissable" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="close">
						<span aria-hidden="true">&times;</span>
					</button>
					{{ message }}
				</div>
			</div>
		{% endfor %}
	{% endif %}
{% endwith %}


	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">Entri Data Barang</div><!-- /.panel-heading -->
			<form id="form" name="form" role="form" method="post" action="/dataBarang" enctype="multipart/form-data">
			{{ form.csrf_token }}
			<div class="panel-body">
				<div class="col-lg-6">
								<div class="form-group">
									{{ form.tx_id }}
									{{ form.tx_nama.label }} {{ form.tx_nama(class='form-control') }}
									{%for message in form.tx_nama.errors%}<div class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>{{message}}</div>{%endfor%}
								</div>
								<div class="form-group">
									{{ form.tx_harga.label }} {{ form.tx_harga(class='form-control') }}
									{%for message in form.tx_harga.errors%}<div class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>{{message}}</div>{%endfor%}
								</div>
								<div class="form-group">
									{{ form.tx_satuan.label }} {{ form.tx_satuan(class='form-control') }}
									{%for message in form.tx_satuan.errors%}<div class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>{{message}}</div>{%endfor%}
								</div>
								<div class="form-group">
									{{ form.tx_ket.label }} {{ form.tx_ket(class='form-control') }}
									{%for message in form.tx_ket.errors%}<div class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>{{message}}</div>{%endfor%}
								</div>
								<div class="form-group">
									<button type="submit" class="btn btn-outline btn-primary btn-lg btn-block">Simpan</button>
									<!--p class="help-block">Example block-level help text here.</p-->
								</div>
				</div>

					<div class="col-lg-6">
								<img src="{{ url_for('static',filename='icons/no-image.png') }}" id="fotoProduk" name="fotoProduk" width="250px" height="250px" />
								<hr/>
								<!--input type="file" name="fileProduk"/-->
								{{ form.file_foto(class='btn btn-outline btn-success btn-sm btn-block') }}
					</div>
			</div><!--panel body-->
		</form>
	</div>
</div>
</div>
<script type="text/javascript">

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#fotoProduk').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#file_foto").change(function(){
        readURL(this);
    });

</script>


{% endblock %}
