{% extends 'layout.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block body %}

<div class="row">
	
<!--alert area -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="col-lg-12">
                <div class="alert alert-warning alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

</div>

{% endblock %}