{% extends 'layout.html' %}

{% block title %}
	Ubah Informasi Permintaan
	<a href="/listPermintaan/{{ data[0][7] }}" class="btn btn-sm btn-outline-success" style="float:right;"><i class="fas fa-id-card"></i>&nbsp;Kembali ke detail permintaan</a>
{% endblock %}

{% block body %}


<div class="row">
<div class="col-sm-5">
<table class="table table-sm table-striped">
	<form id="form" role="form" method="POST">
{%if data%}
	{%for row in data%}
	<tr><td width="150px">Divisi/ Bidang</td><td width="1px">:</td><td>{{ row[0] }}</td></tr>
	<tr><td width="150px">Periode</td><td width="1px">:</td><td>{{ row[1] }}</td></tr>
	<tr><td width="150px">Nomor Surat</td><td width="1px">:</td><td><input type="text" id="tx_nomor" name="tx_nomor" class="form-control form-control-sm" value="{{ row[2] }}"/></td></tr>
	<tr><td width="150px">Perihal</td><td width="1px">:</td><td><input type="text" id="tx_nomor" name="tx_nomor" class="form-control form-control-sm" value="{{ row[3] }}"/></td></tr>
	<tr><td width="150px">Operator</td><td width="1px">:</td><td>{{ row[4] }}</td></tr>
	<tr><td width="150px">Tanggal</td><td width="1px">:</td><td>{{ row[5] }}</td></tr>
	<tr><td width="150px">Status</td><td width="1px">:</td><td>{{ row[6] }}</td></tr>
	<tr><td width="150px">Divisi/ Bidang</td><td width="1px">:</td><td>{{ row[7] }}</td></tr>
	{%endfor%}
{%endif%}
	</form>
</table>
</div>
</div>

<div class="row">
<div class="col-sm-4">
<a href="/listPermintaan/info/{{ data[0][7] }}" class="btn btn-sm {% if data[0][6]>0 %}btn-outline-secondary disabled{%else%}btn-outline-primary{%endif%}"><i class="fas fa-edit"></i>&nbsp;Edit info permintaan</a>
</div>

<div class="col-sm-4" style="text-align:center;">
<a href="#" class="btn btn-sm {% if data[0][6]>0 %}btn-outline-secondary disabled{%else%}btn-outline-primary{%endif%}"><i class="fas fa-edit"></i>&nbsp;Edit daftar barang</a>
</div>

<div class="col-sm-4">
<a style="float:right;" id="prove-up-down" href="#" class="btn btn-sm {% if data[0][6]>0 %}btn-outline-secondary disabled{%else%}btn-outline-danger{%endif%}"><i class="fas fa-thumbs-up"></i>&nbsp;Approve</a>
</div>
</div>



<script type="text/javascript">
	$(document).ready(function(){
		$('#prove-up-down').click(function(e){
			console.log('prove button clicked.');
		});
	});
</script>



{% endblock %}
