{% extends 'layout.html' %}

{% block title %}
List Permintaan Kolektif
{% endblock %}

{% block body %}

<div class="row">
	<div class="col-sm-12">


	<div class="alert alert-success" role="alert" style="" >
	<h5 class="alert-heading">Deskripsi</h5>
	<p class="mb-0">Satu permintaan kolektif hanya dapat dikirimkan sebanyak 1 (satu) kali kepada vendor.</p>
	</div>

		<table id="tabel"  width="100%" class="table table-sm table-bordered table-hover">
		
			<thead class="thead-dark">
				<th>#</th>
				<th width="450px">Keterangan</th>
				<th>Tanggal</th>
				<th>Operator</th>
				<th>Status</th>
				<th>Ctrl</th>
			</thead>
			<tbody id="tbody">
                            {% if data %}{% set cnt=[1] %}
                        {% for row in data %}
                        <tr>
                            <td style="text-align:center;">{{ cnt[0] }}</td>
                            <td>
                                {{ row[1]  }}
                                <hr/>
                                <small>{{ row[2]  }}</small>
                            </td>
                            <td style="text-align:center;">{{ row[3]  }}</td>
                            <td style="text-align:center;">{{ row[5]  }}</td>
			    <td style="text-align:center;">{% if row[10]==0  %}<strong style="color:red;">Belum kirim ke vendor</strong> {% else %} <strong style="color:blue;">Terkirim ke vendor</strong> {%endif%}</td>
                            <td style="text-align:center;">

			<div class="dropdown">
			  <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  <i class="fas fa-cog"></i>
			  </button>
			  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
			    <a class="dropdown-item" href="{{ url_for('detailKolektif',idx=row[0])  }}"><i class="fas fa-search-plus"></i>&nbsp;Detail</a>
			    <a class="dropdown-item" href="{{ url_for('kirimVendor',idx=row[0])  }}"><i class="fas fa-envelope"></i>&nbsp;Kirim Ke Vendor</a>
			    <a class="dropdown-item" href="{{ url_for('ubahKolektif',idx=row[0])  }}"><i class="fas fa-edit"></i>&nbsp;Ubah Informasi</a>
			    <a class="dropdown-item" href="{{ url_for('hapusKolektif',idx=row[0])  }}"><i class="fas fa-trash"></i>&nbsp;Hapus</a>
			  </div>
			</div>


                            </td>
                        </tr>
				{% if cnt.append(cnt.pop() + 1) %}{% endif %}
                        {% endfor %}
                        {% endif %}
			</tbody>
		</table>
	</div>
</div>




<script type="text/javascript">

     $(document).ready(function() {
        $('#tabel').DataTable({
            responsive: true,
            "bPaginate": true
        });
    });

</script>




{% endblock %}
